@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	--text-color: #000;
	--border-color: #a5a5a5;
	--bg-color: #faebd7;
	--blue-color: #4d32ff;

	--ff-main: 'Roboto', sans-serif;

	--fs-desktop: 2rem;
	--fs-tablet: 2rem;
	--fs-mobile: 1.2rem;

	--fs-text-desktop: 2rem;
	--fs-text-tablet: 1.5rem;
	--fs-text-mobile: 0.8rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
	display: flex;
	justify-content: center;
	font-family: var(--ff-main);
	font-size: var(--fs-mobile);
	color: var(--text-color);
	background-color: var(--bg-color);
}

h1, h2 {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	min-width: 320px;
}

.page-header {
	width: 100%;
	margin: 1rem 0;
}

.page-title {
	margin: 0 1.5rem;
	font-weight: 600;
}

.page-main {
	width: 100%;
}

.slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 1.5rem;
	margin-bottom: 2rem;
	padding-top: 1rem;
	border-top: 1px solid var(--border-color);
}

.slide__header {
	display: flex;
	justify-content: space-between;
	color: var(--blue-color);
}

.slide___title {
	margin-bottom: 2rem;
	font-size: var(--fs-mobile);
}

.slide__icon {
	width: 4%;
	height: 4%;
	transform: rotate(45deg);
	fill: transparent;	
}

.slide__img {
	width: 0;
	height: 0;
	margin: 0 auto;
	transition: width 1s;
}

.page-footer {
	font-size: var(--fs-text-mobile);
}

.bayan:hover .slide__icon {
	fill: var(--text-color);	
}

.bayan:hover .slide___title {
	color: var(--text-color);
}

#radio1:checked ~ .slide  > .slide-img-1,
#radio2:checked ~ .slide  > .slide-img-2,
#radio3:checked ~ .slide  > .slide-img-3,
#radio4:checked ~ .slide  > .slide-img-4,
#radio5:checked ~ .slide  > .slide-img-5 {
	width: 100%;
	max-width: 600px;
	min-width: 250px;
	height: auto;
}

#radio1:checked ~ .slide > .slide__header > .slide-title-1,
#radio2:checked ~ .slide > .slide__header > .slide-title-2,
#radio3:checked ~ .slide > .slide__header > .slide-title-3,
#radio4:checked ~ .slide > .slide__header > .slide-title-4,
#radio5:checked ~ .slide > .slide__header > .slide-title-5 {
	color: var(--text-color);
}

#radio1:checked ~ .slide > .slide__header > .ic-slide-1,
#radio2:checked ~ .slide > .slide__header > .ic-slide-2,
#radio3:checked ~ .slide > .slide__header > .ic-slide-3,
#radio4:checked ~ .slide > .slide__header > .ic-slide-4,
#radio5:checked ~ .slide > .slide__header > .ic-slide-5 {
	transform: rotate(0deg);
}

@media (min-width: 820px) and (max-width: 1920px) {
	body {
		font-size: var(--fs-tablet);
	}
	
	.page-header {
		margin: 2rem 2rem;
	}

	.slide {
		padding-top: 2rem;
	}

	.slide___title {
		font-size: var(--fs-tablet);
	}

	.slide__icon {
		width: 3%;
		height: 3%;
	}

	.page-footer {
		font-size: var(--fs-text-tablet);
	}
}

@media (min-width: 1920px) {
	body {
		font-size: var(--fs-desktop);
	}

	.page-header {
		margin: 4rem 2rem;
	}

	.slide {
		padding-top: 3rem;
	}

	.slide:hover .slide__img {
		width: 100%;
		max-width: 600px;
		min-width: 250px;
		height: auto;
		transition: 1s;
	}

	.slide___title {
		font-size: var(--fs-desktop);
	}

	.slide__icon {
		width: 2%;
		height: 2%;
	}

	.page-footer {
		font-size: var(--fs-text-desktop);
	}
}
