@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	--text-color: #000;
	--border-color: #a5a5a5;
	--bg-color: #faebd7;
	--blue-color: #003cff;

	--ff-main: 'Roboto', sans-serif;

	--fs-desktop: 2.5rem;
	--fs-tablet: 1.8rem;
	--fs-mobile: 1.2rem;

	--fs-text-desktop: 2rem;
	--fs-text-tablet: 1.5rem;
	--fs-text-mobile: 0.8rem;
}

.visually-hidden {
	width: 0;
	height: 0;
	opacity: 0;
}

body {
	display: flex;
	justify-content: center;
	font-family: var(--ff-main);
	font-size: var(--fs-mobile);
	color: var(--text-color);
	background-color: var(--bg-color);
}

h1, h2 {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.page-header {
	width: 100%;
	margin: 1rem 0;
}

.page-title {
	margin: 0 1.5rem;
	font-weight: 600;
}

.page-main {
	width: 100%;
}

.slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 1.5rem;
	margin-bottom: 2rem;
	padding-top: 1rem;
	border-top: 0.1rem solid var(--border-color);
	cursor: pointer;
}

.slide:active {
	opacity: 0.7;
}

.bayan .slide:active .slide__icon {
	fill: var(--blue-color);
}

.slide__header {
	display: flex;
	justify-content: space-between;
	color: var(--blue-color);
}

.slide__title {
	margin-bottom: 2rem;
	font-size: var(--fs-mobile);
}

.slide__icon {
	width: 4%;
	height: 4%;	
	transition: fill 0.2s ease-in-out;
	transform: rotate(45deg);
	fill: transparent;
}

.slide__img {
	width: 0;
	height: 0;
	margin: 0 auto;
	transition: all 0.5s ease-in-out;
}

.page-footer {
	font-size: var(--fs-text-mobile);
}

#radio1:checked ~ .slide  > .slide-img-1,
#radio2:checked ~ .slide  > .slide-img-2,
#radio3:checked ~ .slide  > .slide-img-3,
#radio4:checked ~ .slide  > .slide-img-4,
#radio5:checked ~ .slide  > .slide-img-5 {
	width: 50vw;
	height: auto;
	transition: width 0.5s ease-in-out;
}

#radio1:checked ~ .slide > .slide__header > .slide-title-1,
#radio2:checked ~ .slide > .slide__header > .slide-title-2,
#radio3:checked ~ .slide > .slide__header > .slide-title-3,
#radio4:checked ~ .slide > .slide__header > .slide-title-4,
#radio5:checked ~ .slide > .slide__header > .slide-title-5 {
	color: var(--text-color);
}

#radio1:checked ~ .slide > .slide__header > .ic-slide-1,
#radio2:checked ~ .slide > .slide__header > .ic-slide-2,
#radio3:checked ~ .slide > .slide__header > .ic-slide-3,
#radio4:checked ~ .slide > .slide__header > .ic-slide-4,
#radio5:checked ~ .slide > .slide__header > .ic-slide-5 {
	transition: rotate 0.2s ease-in-out;
	transform: rotate(0deg);
}

#radio1 ~ .slide:active > .slide__header > .slide-title-1,
#radio2 ~ .slide:active > .slide__header > .slide-title-2,
#radio3 ~ .slide:active > .slide__header > .slide-title-3,
#radio4 ~ .slide:active > .slide__header > .slide-title-4,
#radio5 ~ .slide:active > .slide__header > .slide-title-5 {
	color: var(--blue-color);
}

#radio1:checked ~ .slide:active > .slide__header > .slide__icon,
#radio2:checked ~ .slide:active > .slide__header > .slide__icon,
#radio3:checked ~ .slide:active > .slide__header > .slide__icon,
#radio4:checked ~ .slide:active > .slide__header > .slide__icon,
#radio5:checked ~ .slide:active > .slide__header > .slide__icon {
	fill: var(--blue-color);
}

@media (hover: hover) {
	.bayan:hover .slide__icon {
		transition: fill 0.2s ease-in-out;
		fill: var(--text-color);
	}

	.bayan:hover .slide__header {
		color: var(--text-color);
	}

	
	.slide:hover .slide__img {
		width: 30vw;
		height: auto;
		transition: width 0.5s ease-in-out;
	}

	.slide:hover .slide__icon {
		transition: transform 0.2s ease;
		transform: rotate(0);
	}
}

@media (min-width: 820px) and (max-width: 1920px) {
	body {
		font-size: var(--fs-tablet);
	}

	.container {
		width: 85%;
	}
	
	.page-header {
		margin: 2rem 2rem;
	}

	.slide {
		padding-top: 2rem;
	}

	.slide__title {
		font-size: var(--fs-tablet);
	}

	.slide__icon {
		width: 2%;
		height: 2%;
	}

	.page-footer {
		font-size: var(--fs-text-tablet);
	}
}

@media (min-width: 1920px) {
	body {
		font-size: var(--fs-desktop);
	}

	.container {
		width: 60%;
	}

	.page-header {
		margin: 4rem 2rem;
	}

	.slide {
		padding-top: 3rem;
	}

	.slide__title {
		font-size: var(--fs-desktop);
	}

	.slide__icon {
		width: 2%;
		height: 2%;
	}

	#radio1:checked ~ .slide  > .slide-img-1,
	#radio2:checked ~ .slide  > .slide-img-2,
	#radio3:checked ~ .slide  > .slide-img-3,
	#radio4:checked ~ .slide  > .slide-img-4,
	#radio5:checked ~ .slide  > .slide-img-5 {
		width: 30vw;
	}

	.page-footer {
		font-size: var(--fs-text-desktop);
	}
}
